.sidenav {
  grid-area: sidenav;
  background-color: $black;
  padding: 1rem;
  color: $white;
  box-shadow: -2px 0 4px rgba(58, 63, 71, 0.5);
  overflow: hidden;
  transition: width 0.3s ease, opacity 0.1s ease;
  opacity: 0;
  border-left: 1px solid $light_grey;

  &.open {
    opacity: 1;
  }
}
