.accordion {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  overflow: hidden;
  

  &Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--background-color);
    cursor: pointer;

    h3 {
      margin: 0;
    }

    .icon {
      font-size: 1.25rem;
    }
  }

  &Content {
    transition: height 0.3s ease;
    overflow: hidden;

    &Wrapper {
      padding: 1rem;
      background-color: var(--background-color);
      border-top: 1px solid var(--border-color);
    }

    &.open {
      height: auto;
    }

  }
}